


<!-- planetA index.html -->
{% extends "layout.html" %}
{% block pbody %}
    <H2>PlanetA start page. </H2>
    <form action="/greet" method="get">
        <P>Click "New Session" to run as Guest. For debugging diagnostics, log in as anything else.</P>
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">New Session</button>
    </form>
{% endblock %}
{% block foot %}
'''
lsof -iTCP -sTCP:LISTEN -n -P
'''
{% endblock %}
<!-- END index.html  -->
