


<!-- planetA isschart.html -->
{% extends "layout.html" %}
{% block pbody %}
<div name="msg" id="msg">
    <P> <font size="3" color="green"> {{ msg }} </font> </P>
</div>
<H2>International Space Station Tracker </H2>
<BR><button id = "isspathv4" style="width:240px;" ><B>Load and Plot something else (constant delay)</B></button>


    <center>
    <table border="1" bgcolor="white">
        <TR>
            <TD> <div><canvas id="canv" width="1000" height="500" style="border:1px solid #d3d3d3;"></div></TD>
            <TD  valign="top">
                <table border="0" valign="top" bgcolor="white">
                    <TR><TD height="50" valign="top"> &nbsp;</TD></TR>
                    <TR><TD><B>Latitude</B><BR><TD id="latitude">{{ oj['iss_position']['latitude'] }}</TD></TR>
                    <TR><TD><B>Longitude</B><BR><TD id="longitude">{{ oj['iss_position']['longitude'] }}</TD></TR>
                    <TR><TD><B>Timestamp</B><BR><TD id="timestamp">{{ oj['timestamp'] }}</TD></TR>
                    <TR><TD><B>Time</B><BR><TD id="nicedate">{{ oj['nicedate'] }}</TD></TR>
                    <TR><TD valign="top" height="30"><B>Location</B><BR><TD id="geolocation" valign="top" width="200">{{ oj['geolocation']["name"] }}</TD></TR>
                    <TR><TD height="50" valign="middle" colspan="2"><HR></TD></TR>
                    <TR><TD><button id="update">           <B>Update    </B></button><BR>&nbsp;</TD></TR>
                    <TR><TD><Button onclick="startTimer()"><B>Start Loop</B></Button><BR>&nbsp;</TD></TR>
                    <TR><TD><Button onclick="stopTimer()"><B>Stop Loop </B></Button><BR>&nbsp;</TD></TR>
                    <TR><Td><B>Steps:</B><BR><span id="loopsteps"> 0 </span></Th></TR>
                </table>
            </TD>
        </TR>
    </table>
    </center>
    <BR> note: {{ note }} 
        <P><button id="getISSjson">Get ISS data as JSON</button>
            Lat: <span id="f1"> (f1) </span> Lon:<span id="f2"> (f2) </span> 
        <BR>ISS Data: <span id="issmsg"> {{ oj }} </span>
    </P> 
    <HR>   
{% endblock %}

{% block foot %}
    note: 7/5/2023 Nominatim was timing out... it was temporary. Don't panic. 
{% endblock %}
<!-- END isschart.html -->
