


<!DOCTYPE html>
                                  <!-- planetA layout.html -->
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>plaNetA</title> 
        <script> "use strict" </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='planetstyle.css') }}">
        <script src="{{url_for('static', filename='planetjs.js')}}"></script>
         <script> 
            window.onload = function() {
                var canvas = document.getElementById("canv");
                var ctx = canvas.getContext("2d");
                var img = document.getElementById("{{img}}");
                ctx.drawImage(img, 0, 0);
                $("#latlongrid").click()
            };
        </script> 
    </head>
    <body>
    <table border=0 cellspacing=0 cellpadding="10" width="100%">
        <TR bgcolor="black" color="white" valign="top">
            <TD width="15%"><img  id="worldi" src="static/landocean.jpg" width=160 height=90 ></TD>
            <TD width="15%"><img  id="worldq" src="static/blueplates.jpg" width=160 height=90 xstyle="display: none;"></TD>  
            <TD width="100%" style="text-align: top;">
                <font size="6" color="white"><a href="\">Planet['A']</a> </font> 
                <br> <font size="2" color="gray"><em>* There is no Planet['B']</em></font>
                <table border=0 width="99%">
                    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                    <tr> 
                        <td> &nbsp; </td>
                        <th> <a href="/isschart">ISS TrackeR</a></th>
                        <th> <a href="/kwaks">Earthquake Sequencer</a> </th>
                        <th> <a href="/quakedata">Raw Earthquake Data</a> </th>
                        <th> <a href="/oceans">Oceans</a> </th>
                        <TD> &nbsp;</TD>
                        <td align="right"> <font color="gray" size=2> {{session['name']}} {{worldmap}} </font></th>
                    </tr>
                </table>
            </TD>
        </TR>
    </table>
    {{ session }}    ==d= {{ session['database']}} / ==t= {{ session['activetable'] }} ==
    <div class="HideableDiv">     
        <button id="latlongrid">Draw Lat/Lon Grid</button>  clicked in ready
    </div>

    {% block pbody %}{% endblock %}        
    {% block foot %}{% endblock %}
    </body>
</html>
<!-- END layout.html -->
